<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomas.voyage" >

    <uses-library
        android:name="com.google.android.wearable"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/VoyageDark" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HeroesPartyActivity"
            android:label="@string/title_activity_heroes_party"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".MerchantHeroActivity"
            android:label="@string/title_activity_merchant"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".WorldMapQuickCombatActivity"
            android:label="@string/title_activity_screen_slide"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".CombatActivity"
            android:label="@string/title_activity_combat"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".PrepareCombatActivity"
            android:label="@string/title_activity_combat_white"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".MerchantInventoryActivity"
            android:label="@string/title_activity_merchant_inventory"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".QuickCombat"
            android:label="@string/title_activity_quick_combat" >
        </activity>
        <activity
            android:name=".QuickCombatCricket"
            android:label="@string/title_activity_quick_combat_cricket" >
        </activity>
    </application>

</manifest>
